.cart-header,
.cart-item,
.cart-summary,
.cart-footer {
  padding: 15px;
  background: #fff;
  border-bottom: 1px solid #dcdcdc;
}

.cart {
  position: fixed;
  right: 0;
  height: 100%;
  width: 25%;
  padding-top: 52px;
}

.cart-header h6 {
  margin: 0;
}

.cart-summary .cart-summary-item {
  margin-bottom: 7px;
}

.cart-summary .cart-summary-item.total {
  margin: 20px 0 0 0;
  font-weight: 700;
}

.cart-items {
  flex: 1 1 auto;
  overflow-y: auto;
}

.cart-footer {
  flex: 0 0 auto;
  border-top: 1px solid #dcdcdc;
  border-bottom: none;
}